.hidden {
  display: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
img {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.big-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

h2 {
  font-size: 700%;
  color: white;
  margin-bottom: 10px;
}

h1 {
  font-size: 250%;
  color: white;
  margin-bottom: 10%;
}

#todo-form input {
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0 , 0, 0, 0.2);
  color: white;
}

#quote {
  position: fixed;
  display: flex;
  flex-direction: column;
  color: gray;
  top: 90%;
  font-size: 14px;
}

#weather {
  position: fixed;
  top: 3%;
  right: 3%;
  display: flex;
  color:white;
}

::placeholder{
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.todo-list_container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

ul {
  color: white;
  font-size: 14px;
}

li > button {
  margin-left: 10px;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.2);
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}
li {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 16px;
}

